# Ignore frontend node_modules
frontend/node_modules

# Ignore backend node_modules
backend/node_modules

# Optional: other common files/folders to ignore
.dockerignore
.git
.gitignore
npm-debug.log
yarn-error.log
